block content
    div
        | Hello #{userName}. Click here if you want change password
        br
        |
        a(href=`${process.env.APP_BASE_URL}/user/newPassword?token=${forgotPasswordHash}`) #{process.env.APP_BASE_URL}/users/newPassword?token=#{forgotPasswordHash}
        |
        br
